This is a data cleaning application 


Please create a python application that can take datasets and clean the data
- It should ask for datasets path and name
- it should check number of duplicats and remove all the duplicates 
- it should keep a copy of all the duplicates
- it should check for missing values 
- if any column that is numeric it should replace nulls with mean else it should drop that rows
- at end it should save the data as clean data and also return 
- duplicates records, clean_data

In [32]:
# importing dependencies

import numpy as np
import pandas as pd
import os

In [33]:
# import the cse file

data=pd.read_excel(r'c:\Users\nimma\Downloads\sales.xlsx')

In [34]:
# read the excel file

data

,Sales_ID,Product,Price,Quantity,Customer_ID,Order_Date,City,Sales_Rep,Discount,Payment_Method
0,1.0,Laptop,1200.0,1.0,101.0,2023-09-01,New York,John,10.0,Credit Card
1,2.0,Mouse,20.0,2.0,102.0,2023-09-01,Los Angeles,Anna,5.0,Paypal
2,3.0,Keyboard,30.0,NaN,103.0,2023-09-02,Chicago,Mike,0.0,Credit Card
3,4.0,Monitor,300.0,1.0,104.0,NaN,Houston,Chris,15.0,Paypal
4,5.0,Laptop,NaN,1.0,101.0,2023-09-03,New York,John,NaN,Paypal
5,5.0,Mouse,20.0,2.0,106.0,2023-09-04,Los Angeles,Anna,5.0,Credit Card
6,7.0,Tablet,450.0,1.0,107.0,2023-09-04,Chicago,Mike,10.0,Paypal
7,8.0,Monitor,300.0,1.0,108.0,2023-09-05,NaN,Chris,15.0,Paypal
8,9.0,Keyboard,30.0,2.0,109.0,2023-09-06,Chicago,Anna,0.0,Credit Card
9,10.0,NaN,1200.0,NaN,110.0,2023-09-07,Houston,John,10.0,NaN
10,11.0,Laptop,1200.0,1.0,101.0,2023-09-01,New York,John,10.0,Paypal
11,12.0,Mouse,20.0,2.0,112.0,2023-09-08,Los Angeles,Anna,5.0,Credit Card
12,NaN,Tablet,NaN,1.0,113.0,2023-09-09,Chicago,Mike,10.0,Credit Card
13,14.0,Monitor,300.0,1.0,114.0,2023-09-01,Houston,Chris,NaN,Paypal
14,15.0,NaN,450.0,2.0,115.0,NaN,Houston,John,10.0,Credit Card
15,16.0,Mouse,20.0,2.0,NaN,2023-09-10,Los Angeles,Chris,15.0,Paypal
16,17.0,Keyboard,30.0,NaN,117.0,2023-09-02,NaN,Mike,5.0,Credit Card
17,18.0,Tablet,450.0,1.0,118.0,2023-09-03,Chicago,Chris,15.0,Paypal
18,NaN,Monitor,300.0,1.0,119.0,2023-09-01,New York,John,0.0,Paypal
19,20.0,Laptop,1200.0,1.0,120.0,2023-09-01,New York,John,10.0,Paypal
20,17.0,Keyboard,30.0,NaN,117.0,2023-09-02,NaN,Mike,5.0,Credit Card
21,18.0,Tablet,450.0,1.0,118.0,2023-09-03,Chicago,Chris,15.0,Paypal
22,NaN,Monitor,300.0,1.0,119.0,2023-09-01,New York,John,0.0,Paypal
23,20.0,Laptop,1200.0,1.0,120.0,2023-09-01,New York,John,10.0,Paypal

In [35]:
# import excel file

data.to_excel('sales.xlsx')

In [36]:

data_path='sales.xlsx'
data_name='sales'

# checking if the path exists

if not os.path.exists(data_path):
    print('Incorrect path! Try again correct path')

else:
    # checking the file type

    if data_path.endswith('.xlsx'):
        print('Dataset is excel file')
        data=pd.read_excel(data_path)

    elif data_path.endswith('.csv'):
        print('Dataset is csv file')
        data=pd.read_csv(data_path,encoding_errors='ignore')

    else:
        print('Unknow file type')

# showing the number of records

print(f'Dataset has Number of rows:{data.shape[0]} \nNumber of columns:{data.shape[1]}')

# start data cleaning

duplicates=data.duplicated()

total_duplicates=data.duplicated().sum()

print(f'Dataset has total duplicates records:{total_duplicates}')

df=data.drop_duplicates()

 # find missing values
total_missing_value = df.isnull().sum().sum()

missing_value_by_colums = df.isnull().sum()

print(f"Dataset has Total missing value: {total_missing_value}")

print(f"Dataset contain missing value by columns \n{missing_value_by_colums}")


# dealing with missing values
# fillna -- int and float
# dropna -- any object

columns = df.columns

for col in columns:
        # filling mean for numeric columns all rows
        if df[col].dtype in (float, int):
            df[col] = df[col].fillna(df[col].mean())
            
        else:
            # dropping all rows with missing records for non number col
            df.dropna(subset=col, inplace=True)
            
# data is cleaned
print(f"Congrats! Dataset is cleaned! \nNumber of Rows: {df.shape[0]} \nNumber of columns: {df.shape[1]}")

# saving the clean dataset
df.to_csv(f'{data_name}_Clean_data.csv', index=None)

print("Dataset is saved!")

Dataset is excel file
Dataset has Number of rows:24
Number of columns:11
Dataset has total duplicates records:0
Dataset has Total missing value: 20
Dataset contain missing value by columns
Unnamed: 0        0
Sales_ID          3
Product           2
Price             2
Quantity          4
Customer_ID       1
Order_Date        2
City              3
Sales_Rep         0
Discount          2
Payment_Method    1
dtype: int64
Congrats! Dataset is cleaned!
Number of Rows: 18
Number of columns: 11
Dataset is saved!